@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.bg-color-black {
  background: #181c14;
}

.bg-color-gray {
  background: #3c3d37;
}

.bg-color-green {
  background: #697565;
}

.bg-color-beige {
  background: #ecdfcc;
}

.text-color-black {
  color: #181c14;
}

.text-color-gray {
  color: #3c3d37;
}

.text-color-green {
  color: #697565;
}

.text-color-beige {
  color: #ecdfcc;
}
